[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM
	url = ssh://git@gitlab-master.nvidia.com:12051/ataghibakhsh/megatron-lm.git
[submodule "3rdparty/NeMo"]
	path = 3rdparty/NeMo
	url = ssh://git@gitlab-master.nvidia.com:12051/ataghibakhsh/nemo-savanna.git
