anndata>=0.11.0
boto3
cellxgene_census
email-validator
lightning>=2.2.1
megatron-core
nemo_toolkit
nemo_toolkit[all]
nest_asyncio
ngcsdk
nltk
numba>=0.57.1
numpy
pandas>=2.2.1
platformdirs
pooch
pyarrow>=16.0.0
pydantic>=2.7.0
pytest
pytorch-lightning>=2.2.1
pyyaml
scipy>=1.11.1
tensorstore==0.1.45
torch-cluster==1.6.3
torch-geometric==2.5.0
torch-scatter==2.1.2
torch>=2.2.1
torch_sparse==0.6.18
torchvision>=0.15.1
tqdm
webdataset==0.2.96
zarr
